.new-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-content {
    display: flex;
    flex: 1;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 5rem;
    height: 100vh;
    max-width: 15%;
    min-width: 15%;
    transition: transform 0.3s ease;
    z-index: 80;
    text-align: center;
    border-right: 2px solid #e0e0e0;
    background-color: #fff;
}

.main-content {
    flex: 1;
    padding: 1rem;
    overflow: auto;
}

.footer {
    background-color: #3880ed;
    color: white;
    padding: 1rem;
    text-align: center;
}

.sidebar-toggle {
    display: none;
}

.sidebar.closed {
    transform: translateX(-100%);
}

.sidebar-toggle {
    display: block;
    position: fixed;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3880ed;
    width: 24px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    z-index: 101;
    transition: left 0.3s ease;
}

.sidebar.closed+.sidebar-toggle {
    left: 0;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: 0;
        top: 6rem;
        min-height: 100%;
        max-width: 25%;
        min-width: 20%;
        transition: transform 0.3s ease;
        z-index: 80;
        background-color: #ffffff;
    }

    .sidebar-toggle {
        left: 25%;
    }


}