body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 1500px;
  margin: 0 auto;
  color: var(--text-color);
  gap: 4rem;
  padding-top: 9vh;
}

.left-container {
  flex: 1;
  border-right: 1px solid #eee;
}

.right-container {
  flex: 3;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding-top: 12vh;
  }
}