.site-section {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.site h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.site-card {
    padding: 1.5rem;
    border-radius: 10px;
    transition: transform 0.3s;
    flex: 1 1 26%;
    max-width: 26%;
    background-color: rgba(255, 255, 255, 0.5);
}

.site-card2 {
    padding: 1.5rem;
    border-radius: 10px;
    transition: transform 0.3s;
    flex: 1 1 26%;
}

.site-card:hover,
.site-card2:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card-icon {
    font-size: 2rem;
    padding: 1rem;
    width: 3.5rem;
    background-color: #c9c7c7;
    border-radius: 12px;
    text-align: center;
}

.card-content>h3 {
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.card-content p {
    color: #ffffff;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .site-card {
        flex: 1 1 80%;
        max-width: 80%;
        margin: 0 auto;
    }

    .site-card2 {
        flex: 1 1 80%;
        max-width: 80%;
        margin: 0 auto;
    }
}